@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*, .root-container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	/*max-width: 1200px;*/
	/*font-family: 'Galada', cursive;*/
	/*font-family: 'Atma', cursive;*/
	font-family: 'Hind Siliguri', sans-serif;
}

.container a {
	text-decoration: none;
}

.card-article-img {
	position: relative;
	overflow: hidden;
}

.card-article-category {
	position: absolute;
	bottom: 0;
	left: 0;
}

.section-heading h3 {
	font-size: 1.3rem;
	border-bottom: 4px solid black;
}